* {
  padding: 0;
  margin: 0;
  overflow-x: none;
  font-family: sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
textarea:focus,
input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}
body {
  display: flex;
  justify-content: center;
  background: rgb(250 250 250);
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.instagram-wrapper {
  display: flex;
  position: relative;

  width: 935px;
  height: 625.14px;

  top: 50px;
}

.instagram-phone {
  display: flex;
  justify-content: center;

  width: 380.31px;
  height: 581.14px;
}

.instagram-phone img {
  width: 290px;
  height: 560px;
}

.instagram-continue {
  width: 350.31px;
  height: 581.14px;
}

.group {
  background: #fff;
  border: solid 1px rgb(219 219 219);
}
.logo {
  width: 175px;
  height: 51px;
  padding: 40px 0px 25px 0px;
  align-self: center;
}

.formulario-login {
  align-items: center;
  width: 348px;
  height: 265px;
  gap: 6px;
}

.itens {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 268px;
  height: 36px;
}

input {
  width: 100%;
  height: 33px;
  padding: 0 5px;
  font-size: 12px;
  border: solid 1px rgb(219 219 219);
  background: rgb(250 250 250);
}
.entrar {
  width: 100%;
  height: 30px;

  position: relative;
  top: 5px;
  cursor: pointer;

  border: 1px;
  background: #74e3f1;
  border-radius: 7px;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
}

.ou {
  width: 25px;
  height: 20px;

  padding: 0 12.5px;
  font-size: 12px;
}
.option::after,
.option::before {
  position: relative;
  bottom: 3px;
  content: '';
  width: 150px;
  height: 1px;

  background: rgb(219 219 219);
}

.option,
.login-facebook {
  display: flex;
  justify-content: center;
  text-align: center;
}
.login-facebook {
  cursor: pointer;
  font-size: 14px;
  font-weight: 550;
  color: rgb(49, 128, 181);
}
.login-facebook img {
  position: relative;
  top: 2px;
  padding-right: 8px;
  width: 15px;
  height: 15px;
}

.forget-password {
  margin: 5px 0px;
  font-size: 12px;
}

.cadastre-se {
  width: 350px;
  height: 63px;

  font-size: 14px;
  margin: 15px 0;

  background: #fff;
  border: solid 1px rgb(219 219 219);
}
.cadastre-se a {
  color: rgb(0, 149, 246);
  font-weight: 600;
}
.texto-cadastro {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.download {
  width: 350px;
  height: 63px;

  font-size: 14px;
  margin: 25px 0;
}

.os {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 8px 0;
  gap: 35px;
}
.os :first-child,.os :last-child {
  width: 130px;
  height: 40px;
  margin-top: 10px;
  border-radius: 10px;
}

@media (max-width: 900px) {
  .instagram-phone {
    display: none;
  }
}
